
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background-second);
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}
input,
button {
  outline: none;
  box-shadow: none;
}

/* color value*/
:root {
  --vt-color-white-0: #FFF;
  --vt-color-white-1-w: #fafafa;
  --vt-color-white-1: #f5f5f5;
  --vt-color-white-2: #E6E6E6;
  --vt-color-white-3: #D9D9D9;
  --vt-color-white-4: #BFBFBF;
  --vt-color-white-5: #A6A6A6;
  --vt-color-white-6: #8C8C8C;


  --vt-color-black-0: #000;
  --vt-color-black-1: #0f0f0f;
  --vt-color-black-1-h: #0f0f0f96;
  --vt-color-black-2: #1a1a1a;
  --vt-color-black-2-h: #1a1a1a96;
  --vt-color-black-3: #262626;
  --vt-color-black-4: #333;
  --vt-color-black-5: #404040;
  --vt-color-black-6: #4d4d4d;
  --vt-color-black-7: #595959;
  --vt-color-black-8: #666;
  --vt-color-black-9: #737373;
  --vt-color-black-10: #808080;
}

:root {
  --color-background: var(--vt-color-white-0);
  --color-background-hover: var(--vt-color-white-1);
  --color-background-second: var(--vt-color-white-1);
  --color-background-second-hover: var(--vt-color-white-2);

  --color-background-button: var(--vt-color-white-1);
  --color-background-button-hover: var(--vt-color-white-2);
  --color-background-button-disabled: var(--vt-color-white-1-w);

  --color-background-hover-transparent: rgba(255, 255, 255, 0.8);

  --color-border: var(--vt-color-white-3);
  --color-border-button: transparent;

  --color-text: var(--vt-color-black-4);
  --color-text-light: var(--vt-color-black-6);
  --color-text-disabled: var(--vt-color-white-5);
}

:root {
  --color-primary: #396cd8;
  --color-primary-hover: #2a5bb8;
  --color-primary-active: #1e4a8c;  
}

@media (prefers-color-scheme: dark) {
  :root {
      --color-background: var(--vt-color-black-3);
      --color-background-hover: var(--vt-color-black-1-h);
      --color-background-second: var(--vt-color-black-0);
      --color-background-second-hover: var(--vt-color-white-2);

      --color-background-hover-transparent: rgba(0, 0, 0, 0.7);

      --color-border: var(--vt-color-black-3);
      --color-border-button: #cccccc80;

      --color-background-button: var(--vt-color-black-3);
      --color-background-button-hover: var(--vt-color-black-4);
      --color-background-button-disabled: var(--vt-color-black-2-h);

      --color-text: var(--vt-color-white-2);
      --color-text-light: var(--vt-color-white-4);
      --color-text-disabled: var(--vt-color-black-10);
    }
}